<main>
    <div>
        <h2>DATA</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>

    <div id="dados">
        <table>
            <div>
                <th></th>
                <tr *ngFor="let item of items">
                    {{ item.id }}
                </tr>
            </div>

            <div>
                <th>First Name</th>
                <tr *ngFor="let item of items">
                    {{ item.firstName }}
                </tr>
            </div>

            <div>
                <th>Last Name</th>
                <tr *ngFor="let item of items">
                    {{ item.lastName }}
                </tr>
            </div>

            <div>
                <th>Participation</th>
                <tr *ngFor="let item of items">
                    {{ item.participation }}%
                </tr>
            </div>
        </table>

        <div>
            <graphic></graphic>
        </div>
    </div>
</main>