main
    margin: 50px 0

    div
        text-align: center


#dados
    display: flex
    justify-content: space-around
    align-items: center

    width: 100%

    table
        display: flex
        border-collapse: collapse
        height: 200px
        
        th
            display: flex
            align-items: center
            justify-content: center
            
            height: 35px
            width: 100px
            
            border: 1px solid #000
        tr
            display: flex
            flex-direction: column
            justify-content: center

            width: 100px
            height: 35px
            
            border: 1px solid #000